@import '../../styles/Shared.scss';

.no-quotes {
    height: 20rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    p{
        font-size: 3rem;
        font-weight: semibold;
    }
}