@import '../../styles/Shared.scss';

.list {
    list-style: none;
    margin: 0;
    padding: 0;
    animation: fade-in 150ms linear;
}
  
.sorting {
    animation: fade-in 150ms linear;
    padding-bottom: 2rem;
    border-bottom: 3px solid #b2d4d4;
    margin-bottom: 2rem;
    text-align: left;

    button {
        font: inherit;
        color: teal;
        border: 1px solid teal;
        background-color: transparent;
        border-radius: 4px;
        padding: 0.5rem 1.5rem;
        cursor: pointer;
        transition: $standard_transition;

        &:hover{
            background-color: #c2fafa;
        }
    }
}