// brand colors
// Brand colors found from egg gradients found here: 
// Turntables
$brand_color_one: #39E5B6;
$brand_color_two: #70B2D9;

// Successful immigrant
$brand_color_three: #74F2CE;
$brand_color_four: #7CFFCB;

// Obamas Resignation
$brand_color_five: #5F0A87;
$brand_color_six: #A4508B;

// Fat Cat
$brand_color_seven: #89D4CF;
$brand_color_eight: #734AE8;

// backdrop
$backdrop_color_one: rgb(30, 32, 42);

// box shadow
$box_shadow: ( 0px 0px 20px 0px rgba(0,0,0,0.4) );