@import '../../styles/Shared.scss';

.header{
    width: 100%;
    height: 5rem;
    display: flex;
    padding: 0 1rem;
    justify-content: space-between;
    align-items: center;
    background: $green_gradient;
    background-size: $gradient-bg-standard;
    box-shadow: $box-shadow;
    animation: gradient 5s linear infinite;

    a{
        text-decoration: none;
        color: #E6FCFC;
        transition: $standard_transition;
    }
}
  
.logo{
    font-size: 2rem;
    color: #88dfdf;
    text-decoration: none;
    transition: $standard_transition;

    @include state(){
        color: #E6FCFC;
    }
}
  
.nav{
    ul{
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
    }

    li{
        margin-left: 1.5rem;
        font-size: 1.25rem;
    }
}
  