@import '../../styles/Shared.scss';

.comment-item {
    margin: 1rem 0;
    color: #4a5555;
    font-size: 1rem;
    padding: 0.5rem 1rem 0.45rem 1rem;
    border-bottom: 3px solid teal;
    box-shadow: $box-shadow;
    transition: $standard_transition;
    background-size: 400% 400%;
    background: $light_green_gradient;
    animation: gradient 4s linear infinite;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    p{
        margin: 0;
        margin-bottom: 0.25rem;
        font-size: 1.25rem;
        font-weight: 400;
        color: #162b2b;
    }
}