@import './styles/Shared.scss';

*{
    box-sizing: border-box;
}
  
body{
    font-family: sans-serif;
    margin: 0;
    background-color: #1e202a;
}
  
.centered{
    margin: 3rem auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.focused{
    font-size: 3rem;
    font-weight: bold;
    color: white;
}
  
.btn{
    text-decoration: none;
    color: #E6FCFC;
    border-radius: 4px;
    padding: 0.65rem 1rem;
    border: 1px solid transparent;
    cursor: pointer;
    transition: $standard_transition;
    background: $green_gradient;
    background-size: $gradient-bg-standard;
    box-shadow: $box-shadow;
    animation: gradient 5s linear infinite;

    @include state(){
        transform: scale(1.05);
    }

    &--flat{
        cursor: pointer;
        font: inherit;
        color: teal;
        border: none;
        background: none;
        text-decoration: none;
        padding: 0.75rem 1.5rem;
        border-radius: 4px;
        box-shadow: none;
        transition: $standard_transition;

        @include state(){
            background-color: transparent;
            color: #11acac;
        }
    }
}
  